.list-reset {
  list-style: none;
}

:root .v-card {
  overflow: hidden;
  transition-property: box-shadow, opacity, transform;
}

:root .break-normal {
  word-break: normal;
  overflow-wrap: normal;
}
