@import '_config/main';

@import '_resets/vuetify';
@import '_libs/graficols';

.hb {
  display: none;
}

.z-1 {
  z-index: 1;
}

.relative {
  position: relative;
}

.h100p {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.cld {
  width: 100%;
  object-fit: cover;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texts {
  // text-left text-h5 text-pre-wrap
  text-align: left;
  font-size: 1.5rem !important;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal !important;
  font-family: 'Roboto', sans-serif !important;
  white-space: pre-line !important;
  @media #{map-get($display-breakpoints, 'md-and-down')} {
    hyphens: auto;
  }
}
