@import '_config/main';

@import '_resets/vuetify';
@import '_libs/graficols';

.hb {
  display: none;
}

.z-1 {
  z-index: 1;
}

.relative {
  position: relative;
}

.h100p {
  height: 100%;
}

.cld {
  width: 100%;
  object-fit: cover;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
