backend:
  name: github
  accept_roles:
    - admin
  repo: 'gangsthub/impermeabilizacionesML'

media_folder: 'static/images/uploads' # Media files will be stored in the repo under static/images/uploads
public_folder: '/images/uploads' # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: trabajos # Used in routes, e.g., /admin/collections/blog
    label: 'Trabajos Realizados' # Used in the UI
    label_singular: 'Trabajo' # Used in the UI
    editor:
      preview: false
    folder: 'content/blog/posts' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    preview_path: 'trabajos/{{slug}}'
    format: 'json'
    fields: # The fields for each document, usually in front matter
      - { label: 'T칤tulo', name: 'title', widget: 'string', tagname: 'h1' }
      - {
          label: 'Featured Image',
          name: 'thumbnail',
          widget: 'image',
          required: true,
        }
      - label: 'Tipo de Servicio'
        name: 'service'
        widget: 'select'
        options:
          [
            'Impermeabilizaciones de terrazas y cubiertas',
            'Impermeabilizaci칩n y aislamiento de muros',
            'Impermeabilizaci칩n y aislamiento de tejados',
            'Pruebas de estanqueidad',
            'Sellados',
            'Condensaciones',
          ]
      - label: 'Descripci칩n'
        name: 'seoDescription'
        widget: 'text'
        required: true
        pattern:
          ['^.{50,}', 'Este texto tiene que estar al menos 50 caracteres']

  - name: config # Used in routes
    label: Textos en P치ginas
    editor:
      preview: false
    files:
      - name: home
        label: 游 Textos en p치gina home
        file: content/static/home.json
        fields:
          - widget: list
            name: zones
            allow_add: true
            collapsed: false
            label: Comarcas
            required: true
            hint: 'Zonas en las que trabajamos'
            default: ['Garraf', 'Baix Penedes', 'Baix Llobregat']

      - name: servicios
        label: 游뚾 Texto en la p치gina de servicios
        file: content/static/services.json
        fields:
          - widget: markdown
            name: body
            label: Texto principal
            required: true
            hint: 'Aparece nada mas entrar en la p치gina de servicios'
            modes: ['rich_text']
            buttons: ['bold', 'italic']
